/* line 1, ../scss/_base.scss */
.wrap {
  width: 200px;
  height: 200px;
  background-color: lightgreen; }

/* line 6, ../scss/_base.scss */
h1 {
  font-size: 20px; }

/* line 9, ../scss/_base.scss */
h2 {
  font-size: 75%; }

/* line 12, ../scss/_base.scss */
img {
  max-width: 100%;
  height: auto; }

/* line 96, icons/*.png */
.icons-sprite, .icons-1, .icons-2, .icons-3, .icons-4, .icons-5, .icons-7 {
  background-image: url('/src/images/icons-s0ff07c2290.png');
  background-repeat: no-repeat; }

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-1 {
  background-position: 0 -29px; }

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-1 {
  background-position: 0 -29px; }

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-2 {
  background-position: 0 -83px; }

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-3 {
  background-position: 0 -137px; }

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-4 {
  background-position: 0 -190px; }

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-5 {
  background-position: 0 -243px; }

/* line 84, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-7 {
  background-position: 0 -296px; }
